@model ReportModel

@{
    ViewData["Title"] = "Report";
}

<h2>Отчет</h2>

<form asp-controller="Report" asp-action="CreateReport" method="get">
    <span>Статус: </span>
    @Html.DropDownList("Status", Html.GetEnumSelectList(typeof(Gamer.EnumStatus)))
    <span>Ставки больше внесений: </span>
    @Html.CheckBox("SelectionChecked")
    <input type="submit" value="Сформировать" />
</form>
<table class="table">
    <thead>
        <tr>
            <th>ID</th>
            <th>ФИО</th>
            <th>Баланс</th>
            <th>Дата регистрации</th>
            <th>Статус</th>
        </tr>
    </thead>
    <tbody>
        @if (Model != null)
        {
            @if (Model.gamerR != null)
            {
                @foreach (var item in Model.gamerR)
                {
                    <tr>
                        <td>@item.Id</td>
                        <td>@item.FullName</td>
                        <td>@item.Balance</td>
                        <td>@item.RegistrationDate</td>
                        <td>@item.Status</td>
                    </tr>
                }
            }
        }
    </tbody>
</table>
