@model IEnumerable<Gamer>

@{
    ViewData["Title"] = "Report";
}

<h2>Отчет</h2>

<p>
    <span>Статус: </span>
    @Html.DropDownList("Статус", Html.GetEnumSelectList(typeof(Gamer.EnumStatus)))
    <span>Ставки больше внесений: </span>
    @Html.CheckBox("Условие")
    <a asp-action="CreateReport" asp-controller="Report">Сформировать</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>ID</th>
            <th>ФИО</th>
            <th>Баланс</th>
            <th>Дата регистрации</th>
            <th>Статус</th>
        </tr>
    </thead>
    <tbody>
        @if (Model != null)
        {
            @foreach (var item in Model)
            {
                <tr>
                    <td>@item.Id</td>
                    <td>@item.FullName</td>
                    <td>@item.Balance</td>
                    <td>@item.RegistrationDate</td>
                    <td>@item.Status</td>
                </tr>
            }
        }
    </tbody>
</table>
