@using TestWebApp
@model Union
@{
    ViewData["Title"] = "Home Page";
}
@*<style>
    .table {
        width: 100%;
        border-collapse: collapse;
    }

        .table tbody td, .table thead th {
            border: 1px solid #646a6e;
            padding: 2px 5px;
        }

        .table thead tr th {
            background: #00a140;
            text-align: center;
        }

    .wrap-expand-table1 a[href^="#click-expand1"], .wrap-expand-table1 a[href="#close1"] {
        text-decoration: none;
        border-bottom: 1px dashed;
    }

    .wrap-expand-table2 a[href^="#click-expand2"], .wrap-expand-table2 a[href="#close2"] {
        text-decoration: none;
        border-bottom: 1px dashed;
    }

    .wrap-expand-table3 a[href^="#click-expand3"], .wrap-expand-table3 a[href="#close3"] {
        text-decoration: none;
        border-bottom: 1px dashed;
    }
    [id^="click-expand1"] {
        position: fixed;
    }

        [id^="click-expand1"]:target + .wrap-expand-table1 a[href^="#click-expand1"],
        [id^="click-expand1"]:not(:target) + .wrap-expand-table1 tbody tr:nth-of-type(n+0),
        [id^="click-expand1"]:not(:target) + .wrap-expand-table1 a[href="#close1"] {
            display: none;
        }

    [id^="click-expand2"] {
        position: fixed;
    }
        [id^="click-expand2"]:target + .wrap-expand-table2 a[href^="#click-expand2"],
        [id^="click-expand2"]:not(:target) + .wrap-expand-table2 tbody tr:nth-of-type(n+0),
        [id^="click-expand2"]:not(:target) + .wrap-expand-table2 a[href="#close2"] {
            display: none;
        }

    [id^="click-expand3"] {
        position: fixed;
    }
        [id^="click-expand3"]:target + .wrap-expand-table3 a[href^="#click-expand3"],
        [id^="click-expand3"]:not(:target) + .wrap-expand-table3 tbody tr:nth-of-type(n+0),
        [id^="click-expand3"]:not(:target) + .wrap-expand-table3 a[href="#clos3e"] {
            display: none;
        }
</style>*@

<caption><h3>Игроки</h3></caption>
<div id="click-expand1" /></div>
<div class="wrap-expand-table1">
    @*<a href="#close1">Свернуть</a><a href="#click-expand1">Развернуть</a>*@
    <table class="table">
        </br>
        <form asp-controller="Home" asp-action="CreateGamer" method="get">
            <input type="submit" value="Создать" />
        </form>
        <tr><th>ID</th><th>ФИО</th><th>Баланс</th><th>Дата регистрации</th><th>Статус</th></tr>
        @foreach (var item in Model.gamerU)
        {
            <tr>
                <td>@item.Id</td>
                <td>@item.FullName</td>
                <td>@item.Balance</td>
                <td>@item.RegistrationDate</td>
                <td>@item.Status</td>

                <td>
                    <form asp-controller="Gamer" asp-action="EditGamer" method="get" asp-route-id="@item.Id">
                        <input type="submit" value="Изменить" />
                    </form>
                </td>
                <td>
                    <form asp-controller="Gamer" asp-action="DeleteGamerDB" method="post" asp-route-id="@item.Id">
                        <input type="submit" value="Удалить" />
                    </form>
                </td>
            </tr>
        }
    </table>
</div>

<caption><h3>Транзакции</h3></caption>
<div id="click-expand2" /></div>
<div class="wrap-expand-table2">
    @*<a href="#close2">Свернуть</a><a href="#click-expand2">Развернуть</a>*@
    <table class="table">
        </br>
        <form asp-controller="Home" asp-action="CreateTransaction" method="get">
            <input type="submit" value="Создать" />
        </form>
        <tr>
            <th>ID транзакции</th>
            <th>Игрок</th>
            <th>Сумма</th>
            <th>Дата</th>
            <th>Тип транзакции</th>
        </tr>
        @foreach (var item in Model.transactionU)
        {
            <tr>
                <td>@item.Id</td>
                <td>@item.GamerId</td>
                <td>@item.Sum</td>
                <td>@item.Date</td>
                <td>@item.TypeOperation</td>

                <td>
                    <form asp-controller="Transaction" asp-action="EditTransaction" method="get" asp-route-id="@item.Id">
                        <input type="submit" value="Изменить" />
                    </form>
                </td>
                <td>
                    <form asp-controller="Transaction" asp-action="DeleteTransactionDB" method="post" asp-route-id="@item.Id">
                        <input type="submit" value="Удалить" />
                    </form>
                </td>
            </tr>
        }
    </table>
</div>

<caption><h3>Ставки</h3></caption>
<div id="click-expand3" /></div>
<div class="wrap-expand-table3">
    @*<a href="#close3">Свернуть</a><a href="#click-expand3">Развернуть</a>*@
    <table class="table">
        </br>
        <form asp-controller="Home" asp-action="CreateBet" method="get">
            <input type="submit" value="Создать" />
        </form>
        <tr>
            <th>ID ставки</th>
            <th>Игрок</th>
            <th>Сумма</th>
            <th>Дата</th>
            <th>Выигрыш</th>
            <th>Дата расчета</th>

        </tr>
        @foreach (var item in Model.betU)
        {
            <tr>
                <td>@item.Id</td>
                <td>@item.GamerId</td>
                <td>@item.Sum</td>
                <td>@item.DateBet</td>
                <td>@item.Win</td>
                <td>@item.CalculationDate</td>

                <td>
                    <form asp-controller="Bet" asp-action="EditBet" method="get" asp-route-id="@item.Id">
                        <input type="submit" value="Изменить" />
                    </form>
                </td>
                <td>
                    <form asp-controller="Bet" asp-action="DeleteBetDB" method="post" asp-route-id="@item.Id">
                        <input type="submit" value="Удалить" />
                    </form>
                </td>
            </tr>
        }
    </table>
</div>
